.profile {
  max-width: 300px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.description {
  background-color: #f3f9fa;
  padding: 20px;
}
.avatar {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.name {
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.tag,
.location {
  color: #a3aaab;
  font-size: 14px;
}
.stats {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px;
  border-left: #eeeeee solid 1px;
  border-right: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
  /* box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; */
}
.label,
.quantity {
  color: #a3aaab;
}
.label {
  display: block;
  width: 70px;
}
.quantity {
  font-size: 14px;
  color: black;
  font-weight: 500;
}
